@yellow: #fc6;
@dark-yellow: #C48D4A;
@blue: rgba(30,144,255,.6);
@green: rgba(0, 153, 153, .6);
@red: #bf0000;
@brown: rgba(185, 96, 0, .6);
@white: #fff;
@light-grey: #ddd;
@purple: #44416C;
@black: #000;
@border: #b8ccc7;
@starwars: #feda4a;
@gold: goldenrod;

@bggrey: #e6e6e6;
@bgsub: #b96000;
@bgloy: #bf0000;
@bgreb: #000;
@bgdroid: #006400;
@bqboots: #008080;
@bqmltpl: #800080;