@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import "colors.less";

:root
{
	--bgsub: #b96000;
	--bgloy: #bf0000;
	--bgreb: #000;
	--bgdroid: #006400;
	--bgboots: #008080;
	--bgmltpl: #800080;
}

/* zero the margins */
body
{
	margin: 0;
	background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(187, 82, 0, .5), rgba(0, 46, 143, .5)), url("/content/images/hyades.jpg");
	background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(187, 82, 0, .5), rgba(0, 46, 143, .5)), url("/content/images/hyades.jpg");
	background-position: 0px 0px, 50% 50%;
	background-size: auto, 1000px;
	
	> div,
	> div *
	{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: "Fira Sans", sans-serif;
		font-size: 28px;
		font-weight: 600;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

		.select-true
		{
			user-select: text;
		}
	}

	footer
	{
		font-family: "Fira Sans", sans-serif;
		font-weight: 600;
		font-size: 20px;
		position: absolute;
		bottom: 1em;
		right: 1em;
		color: @white;

		a
		{
			font-size: 20px;
			color: @white;
			text-decoration: none;
		}
	}
}

#flippable
{
	&.flip
	{
		transform: rotate(180deg);
	}

	transition: transform ease 1s;
}

.w-clearfix
{
	&:before,
	&:after
	{
		content: " ";
		display: table;
	}

	&:after
	{
		clear: both;
	}
}

.space
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	&:not(.droid)
	{
		.remote
		{
			cursor: not-allowed;

			.background
			{
				fill: @blue;
			}
		}
	}
}

.top-bot
{
	display: block;
	height: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.left-right
{
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.mid-wrap
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.svg
{
	display: block;
	width: calc(100vh/0.5625);
	max-height: 100vh;
	max-width: 100vw;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root)
{
	overflow: hidden;
}

.centre
{
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

#Names,
.imperial,
.subjugated,
.rebel,
#menuText,
#bqtext
{
	pointer-events: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#menuBackground,
#menuGradient,
#bqbtngradient,
#bqbtnbackground,
#flipbtngradient,
#flipbtnbackground,
#droidbtngradient,
#droidbtnbackground
{
	transition: 0.2s ease-out;
}

.mask
{
	position: fixed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .75);
	transition: 0.5s ease;
}

.noflip
{
	display: none;
	fill: @white;
}

.flip
{
	.mask
	{
		transform: scale(-1);
	}

	#Names,
	#Coruscant
	{
		text
		{
			&:not(.noflip)
			{
				display: none;
			}

			&.noflip
			{
				display: block;
			}
		}
	}
}

.menu
{
	border: 8px solid @yellow;
	border-radius: 25px;
	position: relative;
	width: 100%;
	min-width: 300px;
	padding: 1em;
	clear: both;
	background: @bgreb;
	overflow: auto;
}

.button
{
	display: block;
	margin-bottom: 1em;
	padding: 9px 15px;
	border: 2px solid @light-grey;
	border-radius: 10px;
	background-color: transparent;
	color: @white;
	font-size: 24px;
	line-height: 17px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	opacity: 0;
	transition: 0.5s ease-out;

	&.no-margin
	{
		margin-bottom: 0;
	}

	&:not(.close):not(.no-first-letter)
	{
		&:first-letter
		{
			color: @yellow;
		}
	}
}

#Names,
#Coruscant
{
	user-select: none;

	text
	{
		font-variant: small-caps;
	}
}

.positions
{
	position: absolute;
	top: 2em;

	&.left
	{
		left: 1em;
	}

	&.right
	{
		right: 1em;
	}
}

.heading-2
{
	position: absolute;
	left: 0px;
	top: -32px;
	right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: @yellow;
	font-size: 17px;
	line-height: 20px;
	font-weight: 800;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

#bqmenu
{
	color: @white;
	font-variant: small-caps;

	div
	{
		font-size: 24px;
	}

	#expansion-text
	{
		text-align: center;
	}
}

#bq-all
{
	display: flex;
	flex-direction: column;

	#bq-factions
	{
		#tabs
		{
			display: flex;
			justify-content: space-between;

			.button
			{
				opacity: 1;
				margin-bottom: 0;

				&#show-rebels
				{
					margin-right: 1em;

					&.active
					{
						background-color: @green;
					}
				}

				&#show-empire
				{
					&.active
					{
						background-color: @red;
					}
				}
			}
		}

		.tab
		{
			padding-top: .5em;

			&.active
			{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				@media screen and (max-height: 719px)
				{
					flex-direction: row-reverse;
				}
			}

			.queue
			{
				height: 100px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				@media screen and (max-height: 719px)
				{
					position: relative;
					width: 100%;
				}

				&[data-q="2"]
				{
					margin: .25em 0 .25em 0;
					padding: .25em 0 .25em 0;
					height: calc(~"100px + .5em");
					border-top: 1px dashed @light-grey;
					border-bottom: 1px dashed @light-grey;

					@media screen and (max-height: 719px)
					{
						margin: 0 .25em 0 .25em;
						padding: 0 .25em 0 .25em;
						height: auto;
						border-left: 1px dashed @light-grey;
						border-right: 1px dashed @light-grey;
						border-top: none;
						border-bottom: none;
					}
				}

				&:before
				{
					content: attr(data-q);
					font-size: 5em;
					opacity: .25;
					position: absolute;
					height: 100px;
					line-height: 100px;

					@media screen and (max-height: 719px)
					{
						left: calc(~"50% - 25px");
						width: 50px;
						text-align: center;
					}
				}

				> div
				{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin-left: 65px;

					@media screen and (max-height: 719px)
					{
						margin-left: 0;
					}

					.count
					{
						position: relative;
						width: 45px;
						height: 45px;

						&[data-c="0"]
						{
							visibility: hidden;
						}

						&:after
						{
							content: attr(data-c);
							position: absolute;
							right: 0;
							bottom: -8px;
							text-shadow: 1px 1px 0 @black, 1px -1px 0 @black, -1px 1px 0 @black, -1px -1px 0 @black, 1px 0px 0 @black, 0px 1px 0 @black, -1px 0px 0 @black, 0px -1px 0 @black;
						}
					}
				}

				svg
				{
					width: 45px;
					height: 45px;

					&.blue
					{
						fill: @purple;
					}

					&.yellow
					{
						fill: @dark-yellow;
					}

					&.triangle
					{
						transform: scale(1.11);
					}
				}
			}
		}
	}
}

#buildqueuebutton
{
	visibility: hidden;
}

@media screen and (min-width: 560px) and (min-height: 720px)
{
	#bq-factions
	{
		display: flex;

		.tab
		{
			padding-top: 0;
		}

		#tabs
		{
			display: none !important;
		}

		#rebels,
		#empire
		{
			display: flex !important;
			flex-direction: column;
			justify-content: space-evenly;
			padding-top: 0 !important;
		}

		#rebels
		{
			.queue
			{
				&:before
				{
					display: none;
				}

				> div
				{
					margin: 0 !important;

					.count
					{
						margin-right: .5em;
					}
				}
			}

			&:before
			{
				content: url("/content/images/rebels.svg");
				position: absolute;
				width: 30%;
				left: 0;
			}
		}

		#empire
		{
			.queue
			{
				padding-left: 2em;

				&[data-q="2"]
				{
					padding: .25em 0 .25em 2em !important;
				}

				> div
				{
					margin-left: 1em !important;

					.count
					{
						margin-left: .5em;
					}
				}

				&:before
				{
					left: calc(~"50% - 31px");
				}
			}

			&:after
			{
				content: url("/Content/images/empire.svg");
				position: absolute;
				width: 30%;
				right: 0;
			}
		}
	}

	#show-rebels-bq,
	#show-empire-bq
	{
		display: none;
	}

	#buildqueuebutton
	{
		visibility: visible;
	}
}

#optionsmenu
{
	.checkbox
	{
		height: 50px;
		display: flex;
		flex-direction: column;

		&:first-of-type
		{
			margin-bottom: 0;
		}

		.ignore
		{
			width: 150px;

			> div
			{
				height: 50px;
			}
		}

		@media screen and (min-width: 475px)
		{
			flex-direction: row;

			.ignore
			{
				line-height: 50px;
			}
		}
	}
}

#mainmenu,
#buildqueuebutton,
#flipbutton,
#droidbutton
{
	cursor: pointer;
}

#aboutmenu,
#hotkeysmenu,
#optionsmenu,
#continue,
#confirmreset,
#customizemenu 
{
	color: @white;

	.info
	{
		font-size: 16.8px;

		*
		{
			font-size: 16.8px;
		}

		max-width: 400px;
		text-align: justify;
		margin-bottom: 1em;

		ul
		{
			list-style: none;
			padding: 0;

			li
			{
				&:not(.no-first-letter)
				{
					&:first-letter
					{
						color: @yellow;
					}
				}
			}
		}

		a
		{
			color: @yellow;

			&:visited
			{
				color: @yellow;
			}
		}

		img
		{
			width: 25%;
		}
	}
}

#customizemenu
{
	input[type=color]
	{
		width: 100%;
	}

	.menu
	{
		> div
		{
			position: relative;

			.colorpicker
			{
				position: absolute;
				top: 0;
				width: 100%;
				text-align: center;
				display: block;
				cursor: pointer;

				&.bq-impsub
				{
					background-color: var(--bgsub);
				}
				&.bq-imploy
				{
					background-color: var(--bgloy);
				}
				&.bq-rebel
				{
					background-color: var(--bgreb);
				}
				&.bq-droid
				{
					background-color: var(--bgdroid);
				}
				&.bq-boots
				{
					background-color: var(--bgboots);
				}
				&.bq-multi
				{
					background-color: var(--bgmltpl);
				}
			}
		}
	}
}

.highlight
{
	color: @yellow;
}

.centered
{
	text-align: center !important;
}

.menu
{
	max-height: 95vh;
	max-width: 95vw;
}

.tab
{
	display: none;

	&.active
	{
		display: block;
	}
}

.italic
{
	font-style: italic;
}

#bq-options
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 1em;
}

.stop
{
	fill: @red;
	stroke: none;
}

.bq-rebel,
#rebelbase
{
	.stop
	{
		fill: @red;
		stroke: @white;
		stroke-width: 5;
	}
}

#rebelbase
{
	stroke: @border;
	stroke-width: 8;
	fill-opacity: .75;
	fill: @black;
}

hr
{
	width: 100%;
	border-top: 2px solid @yellow;
	margin: .5em 0 .5em 0;
}

#bmac
{
	position: absolute;
	right: 1em;
	bottom: 1em;

	img
	{
		min-width: 75px;
		width: 10vw;
	}
}

.space
{
	.mainbutton
	{
		&.active
		{
			.cls-9
			{
				fill: @bgsub;
				opacity: .6;
			}

			.cls-56
			{
				opacity: .2;
			}
		}

		&#droidbutton
		{
			&.active
			{
				.cls-9
				{
					fill: @bgdroid;
					opacity: .6;
				}

				.cls-56
				{
					opacity: .2;
				}
			}
		}
	}

	#Buttons
	{
		.system
		{
			.subjugated,
			.imperial,
			.rebel,
			.stop,
			.droid,
			.boots
			{
				opacity: 0;
			}
		}
	}

	#Coruscant,
	#rebelbase
	{
		.stop
		{
			opacity: 0;
		}

		&.bq-disallowed
		{
			.stop
			{
				opacity: 1;
			}
		}
	}

	&.droid
	{
		#Buttons
		{
			.system
			{
				&.bq-droid
				{
					.background
					{
						fill: var(--bgdroid);
						opacity: .6;
					}

					.droid
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-boots
				{
					.background
					{
						fill: var(--bgboots);
						opacity: .6;
					}

					.boots
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-impsub
				{
					.background
					{
						fill: var(--bgsub);
						opacity: .6;
					}

					.subjugated
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-imploy
				{
					.background
					{
						fill: var(--bgloy);
						opacity: .6;
					}

					.imperial
					{
						opacity: 1;
					}
				}

				&.bq-droid
				{
					&.bq-imploy,
					&.bq-impsub
					{
						.background
						{
							fill: var(--bgmltpl);
							opacity: .6;
						}

						.droid
						{
							opacity: 0;
						}
					}
				}
			}
		}
	}

	&:not(.droid)
	{
		#Buttons
		{
			.system
			{
				&.bq-impsub
				{
					.background
					{
						fill: var(--bgsub);
						opacity: .6;
					}

					.subjugated
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-imploy
				{
					.background
					{
						fill: var(--bgloy);
						opacity: .6;
					}

					.imperial
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-rebel
				{
					.background
					{
						fill: var(--bgreb);
						opacity: .6;
					}

					.rebel
					{
						&:not(.flipped)
						{
							opacity: 1;
						}
					}
				}

				&.bq-disallowed
				{
					.stop
					{
						opacity: 1;
					}
				}
			}
		}
	}

	#options
	{
		.icon
		{
			opacity: 0;

			&:not(.flipped)
			{
				opacity: 1;
			}
		}
	}
}

.flip
{
	.space
	{
		&.droid
		{
			#Buttons
			{
				.system
				{
					&.bq-droid
					{
						.droid
						{
							opacity: 0;

							&.flipped
							{
								opacity: 1;
							}
						}
					}

					&.bq-boots
					{
						.boots
						{
							opacity: 0;

							&.flipped
							{
								opacity: 1;
							}
						}
					}

					&.bq-impsub
					{
						.subjugated
						{
							opacity: 0;

							&.flipped
							{
								opacity: 1;
							}
						}
					}

					&.bq-droid
					{
						&.bq-imploy,
						&.bq-impsub
						{
							.background
							{
								fill: var(--bgmltpl);
								opacity: .6;
							}

							.droid
							{
								opacity: 0;
							}
						}
					}
				}
			}
		}

		&:not(.droid)
		{
			#Buttons
			{
				.system
				{
					&.bq-impsub
					{
						.subjugated
						{
							opacity: 0;

							&.flipped
							{
								opacity: 1;
							}
						}
					}

					&.bq-rebel
					{
						.rebel
						{
							opacity: 0;

							&.flipped
							{
								opacity: 1;
							}
						}
					}
				}
			}
		}

		#options
		{
			.icon
			{
				opacity: 0;

				&.flipped
				{
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (orientation:landscape)
{
	.hide-on-mobile
	{
		display: none !important;
	}
}

@media (hover: hover)
{
	body
	{
		footer
		{
			a
			{
				&:hover
				{
					color: @blue;
					text-decoration: underline;
				}
			}
		}
	}

	.button
	{
		cursor: pointer;

		&.resetmap,
		&.hotkeys
		{
			&:hover
			{
				background-color: @green;
			}
		}

		&.buildqueue
		{
			&:hover
			{
				background-color: @brown;
			}
		}

		&.about,
		&#customizereverttodefault
		{
			&:hover
			{
				background-color: @blue;
			}
		}

		&.customize
		{
			&:hover
			{
				background-color: @gold;
			}
		}

		&.close
		{
			&:hover
			{
				background-color: @red;
			}
		}
	}

	#bq-all
	{
		#bq-factions
		{
			#tabs
			{
				.button
				{
					&#show-rebels
					{
						&:hover
						{
							background-color: @green;
						}
					}

					&#show-empire
					{
						&:hover
						{
							background-color: @red;
						}
					}
				}
			}
		}
	}

	#show-rebels-bq,
	#show-empire-bq,
	#show-buildqueue
	{
		cursor: pointer;

		&:hover
		{
			opacity: .5;
		}
	}

	.space
	{
		.mainbutton
		{
			&:not(.active)
			{
				&:hover
				{
					.cls-9
					{
						fill: @bgsub;
						opacity: .6;
					}

					.cls-56
					{
						opacity: .2;
					}
				}
			}

			&#droidbutton
			{
				&:not(.active)
				{
					&:hover
					{
						.cls-9
						{
							fill: @bgdroid;
							opacity: .6;
						}

						.cls-56
						{
							opacity: .2;
						}
					}
				}
			}
		}

		&.droid
		{
			#Buttons
			{
				.system
				{
					&:not(.bq-droid, .bq-boots, .bq-impsub, .bq-imploy)
					{
						&:hover
						{
							.background
							{
								fill: @bggrey;
								opacity: .25;
							}
						}
					}
				}
			}
		}

		&:not(.droid)
		{
			#Buttons
			{
				.system
				{
					&:not(.bq-impsub, .bq-imploy, .bq-rebel, .bq-disallowed, .remote)
					{
						&:hover
						{
							.background
							{
								fill: @bggrey;
								opacity: .25;
							}
						}
					}
				}
			}
		}
	}
}